.body {
    overflow: hidden;
}

.content {
    width: 1200px;
    height: 800px;
    margin: -120px auto 0px;
}

.content .box {
    width: 540px;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 20px;
}

.box {
    float: left;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.box .picture {
    height: 280px;
}

.box img {
    margin-top: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
}

.discount {
    font-size: 36px;
    color: black;
    margin-bottom: 40px;
}

.stars {
    font-size: 24px;
    color: #616161;
    margin-bottom: 40px;
}

.btn {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 60px;
    border-radius: 10px;
    color: white;
    background-color: #2097F6;
    font-size: 24px;
    line-height: 60px;
}

.disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.left {
    margin-left: 160px !important;
}

.Top {
    padding-top: 10px;
}

.Top2 {
    margin-top: 60px;
}

.notice {
    width: 1200px;
    margin: 20px auto;
    padding-top: 20px;
    height: 60px;
    border-top: 2px solid #2097F6;
}

.clear {
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0
}

.modal-window {
    position: fixed;
    background-color: rgba(200, 200, 200, 0.75);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 500px;
    height: 200px;
    position: relative;
    margin: 10% auto;
    padding: 2rem;
    background: #fff;
    font-size: 24px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 2px 30px 5px rgba(32, 53, 246, 0.42);
}

.modal-window>div h1 {
    color: black;
    text-align: center;
}

.modal-window>p {
    margin-top: 20px;
}

.modal-window header {
    font-weight: bold;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: #000;
}

.modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
}

.stars_total {
    width: 80%;
    margin: -100px auto 50px;
    text-align: center;
}

.total {
    font-size: 36px;
    color: black;
}

.stars_total .num {
    margin: 20px auto;
    width: 240px;
    height: 70px;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: #91EC82;
    border-radius: 20px;
    line-height: 70px;
    font-weight: 800;
}
